@import url("https://fonts.googleapis.com/css2?family=Numans&display=swap");

/* QUICK RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBALS */
html {
  font-size: 62.5%;
}

body {
  background-color: #0b7285;
  background-image: linear-gradient(
    160deg,
    rgba(11, 115, 133, 0.399) 0%,
    rgba(34, 184, 207, 0.666) 100%
  );
  font-family: "Numans", sans-serif;
  font-size: 1.6rem;
  color: #dfe6e9;
  display: flex;
  justify-content: center;
}

.container {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CALCULATOR */

.calculator,
.user-input,
button {
  border-radius: 6px;
}

.calculator {
  width: 35rem;
  margin: auto;
  padding: 2.4rem;
  background-color: rgba(34, 184, 207, 0.735);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.09);
}

.result {
  font-size: 1.8rem;
  position: absolute;
  color: #0b7285;
  padding: 0.8rem;
}

.container-user-input {
  display: relative;
}

.user-input {
  width: 100%;
  padding: 2.4rem 0.5rem;
  background-color: #e3fafc;
  color: #0b7285;
  font-size: 3.6rem;
  border: none;
  text-align: right;
  margin-bottom: 1.6rem;
}

.user-input::placeholder {
  color: #212529a7;
}

.container-user-input-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
}

.btn,
.btn:link {
  width: 100%;
  height: 4.2rem;
  background-color: #c5f6fa;
  color: #212529;
  font-size: 2.4rem;
  border: none;
  margin-bottom: 0.4rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
  transition: all 0.1s;
}

.btn:hover {
  background-color: #e3fafc;
  transform: scale(1.03);
}

.btn:active {
  transform: scale(1);
}

.btn-equal {
  width: 100%;
  height: 6.4rem;
  grid-column: 1 / -1;
  color: #212529;
  background-color: rgba(255, 255, 255, 0.687);
}
